body { background-color: #fff; color: #333; }

li.g, body, html, .std, .c h2, #mbEnd h2, h1, p, ol, ul, td{
  font-size: 10px;
  font-family: arial,sans-serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

div#wrapper {
  width: 90%;
  background-color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border: 0px;
}

div#wrapper.displayResults {
  margin-top:10px;
}

div#main {
  padding-top:30px;
  border-left:solid 1px #ccc;
}

div#header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div#main {
  margin-top: 1px;
  margin-left: 14%;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 0px;
  padding-top: 0px;
}

div#nav {
  width: 13%;
  padding: 0px;
  margin-top: 1px;
  float: left;
}

div#nav a {
  color:#606060;
  visited: #606060;
  hover :#606060;
  active :#606060;
  font-size: 10px;
}

div#nav h3 {
  background: #0D4B87;
  color:#FFFFFF;
  visited: #FFFFFF;
  hover :#FFFFFF;
  active :#FFFFFF;
  font-size: 10px;
}

div#nav h3 a {
  color:#FFFFFF;
  visited: #FFFFFF;
  hover :#FFFFFF;
  active :#FFFFFF;
}

p.results {
  font: 10px arial;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  position: center;
}

table {
  width: 100%;
  font: 12px/ 14px arial, sans-serif;
  color: #666;
  margin: 10px 0;
}

td,th {
  border-bottom: 0px solid #ddd;
  border-right: 0px solid #ddd;
  padding: 5px 8px 3px 8px;
  vertical-align: center;
  text-align: center;
}

.tableHeading th,.tableHeading td {
  background: #0D4B87;
  border: 0px;
  color: #FFFFFF;
}

th.first {
  border-left: 0px solid #C6D2DA;
}

td {
  background: #E8E8E8 ;
  border: 0px;
}

.odd td {
  background: #FFFFFF;
}

div#footer {
  padding: 15px;
  border-top: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 9.5px;
  color: #606060 ;
  margin-top: 100px;
}

#ires {
  padding-top: 1px;
}

ol, ul, li {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, ol, ul, li {
  margin: 0;
  padding: 0;
}

ol {
  display: block;
  list-style-type: decimal;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

li.g {
  margin-top: 0;
  margin-bottom: 14px;
}

ol li {
  list-style: none;
}

li {
  line-height: 1.2;
}

li {
  display: list-item;
}

div.vsc {
  display: inline-block;
  position: relative;
  width: 100%;
}

.vspi {
  bottom: -5px;
  left: -8px;
  position: absolute;
  right: -8px;
  top: -5px;
  z-index: -1;
}

.tl {
  display: inline-block;
  position: relative;
}

.ti, .bl, #res h3 {
  display: inline;
}

.r {
  font-size: 11px;
}

.sl, .r {
  display: inline;
  font-weight: normal;
  margin: 0;
}

h3, .med {
  font-size: 11px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

a:link, .w, .q:active, .q:visited, .tbotu {
  color: #2200C1;
  cursor: pointer;
}

a:link, .w, #prs a:visited, #prs a:active, .q:active, .q:visited {
  color: #2200C1;
}

a:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}

.s {
  max-width: 75em;
}

.gl, .f, .m, .c h2, #mbEnd h2, #tads h2, #tadsto h2, .descbox {
  color: #767676;
}

.gl {
  white-space: nowrap;
}

.gl, #foot a, .nobr {
  white-space: nowrap;
}

a.fl:link, .fl a, .flt, a.flt, .gl a:link, a.mblink, .mblink b {
  color: #36C;
}

.osl a, .gl a, #tsf a, a.mblink, a.gl, a.fl, .slk a, .bc a, .flt, a.flt u, .oslk a, #tads .ac a, #rhs .ac a {
  text-decoration: none;
}


.mft, .a, cite, cite a:link, cite a:visited, .cite, .cite:link, #mbEnd cite b, #tads cite b, #tadsto cite b, #ans > i {
  color: #0E774A;
  font-style: normal;
}

.mft, i, cite, em, var, address {
  font-style: bold;
}
