<h1>Listing subscriptions</h1>

<table>
  <tr>
    <th>Keywords</th>
    <th></th>
    <th></th>
  </tr>

<% @subscriptions.each do |subscription| %>
  <tr>
    <td><%= subscription.keywords %></td>
    <td><%= link_to 'Edit', edit_user_subscription_path(current_user,subscription) %></td>
    <td><%= link_to 'Destroy', user_subscription_path(current_user,subscription), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subscription', new_user_subscription_path(current_user) %>
