<p id="notice"><%= notice %></p>

<p>
  <b>Keywords:</b>
  <%= @subscription.keywords %>
</p>


<%= link_to 'Edit', edit_user_subscription_path(current_user,@subscription) %> |
<%= link_to 'Back', user_subscriptions_path(current_user) %>
